@import url("fonts.css");
@import url("../../utils/reset.css");

:root {
  --ff-heading: "Playfair Display";
  --ff-body: "Roboto";

  --fs-400: 1.125rem;
  --fs-500: 1.3125rem;
  --fs-600: 2.25rem;
  --fs-700: 3.75rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-black: 900;

  --clr-primary: #f3eed9;
  --clr-secondary: #824936;
  --clr-tertiary: #222c2a;
}

body {
  color: var(--clr-tertiary);
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
}

.heading {
  color: var(--clr-secondary);
  font-family: var(--ff-heading);
  font-weight: var(--fw-black);
  line-height: 1.1;
}

.paragraph {
  color: var(--clr-tertiary);
  line-height: 1.5;
}

.hero-content {
  display: flex;
  align-items: center;

  background-color: var(--clr-primary);
  min-height: 660px;

  text-align: center;

  .heading {
    font-size: 2.5rem;
  }

  .paragraph {
    letter-spacing: 10px;
    text-transform: uppercase;

    margin-bottom: 1em;
  }
}

.main-content {
  .heading {
    font-size: var(--fs-600);

    margin-bottom: 1em;
  }
}

.content-block {
  padding-block: 4rem;
}

.main-block {
  > .heading {
    text-align: center;
  }
}

.two-col-text {
  .paragraph:first-child {
    margin-bottom: 1em;
  }
}

.content-block {
  &.-darker {
    background-color: var(--clr-tertiary);
  }

  &.-warmer {
    background-color: var(--clr-secondary);
  }

  &:has(.img) {
    .text-block {
      margin-bottom: 4rem;
    }
  }
}

.inspiring-block {
  > .img {
    margin-inline: auto;
  }
}

.text-block {
  > .heading,
  > .paragraph {
    color: var(--clr-primary);
  }
}

.container {
  margin-inline: auto;
  width: min(100% - 4rem, 1128px);
}

@media screen and (width >= 600px) {
  .hero-content {
    .heading {
      font-size: var(--fs-700);
    }
  }

  .two-col-text {
    display: flex;
    gap: 2em;

    > .paragraph:first-child {
      margin-bottom: 0;
    }
  }

  .inspiring-block {
    display: flex;
    gap: 2em;

    > .img {
      object-fit: contain;
      width: 100%;
    }
  }

  .content-block:last-child {
    .inspiring-block {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (width >= 1000px) {
  .inspiring-block {
    > .img {
      width: auto;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-secondary: #f3eed9;
  }

  .paragraph {
    color: var(--clr-primary);
  }

  .hero-content,
  .content-block,
  .content-block.-darker,
  .content-block.-warmer {
    background-color: var(--clr-tertiary);
  }

  .hero-content,
  .content-block {
    border-bottom: 2px dashed var(--clr-primary);
  }

  .content-block.-warmer {
    border-bottom: none;
  }
}
