@import url("fonts.css");
@import url("../../utils/reset.css");

:root {

	/* Colors */

	--clr-accent-500: #38CFD9;
	--clr-accent-600: #87629A;

	--clr-primary: #23424A;
	--clr-secondary: #136C72;

	--clr-neutral-500: #FFFFFF;
	--clr-neutral-400: #3A3A3A;

	/* Fonts */

	--ff-primary: 'Roboto';
	--ff-body: var(--fs-primary);
	--ff-heading: var(--fs-primary);

	/* Font sizes */

	--fs-500: 1.325rem;
	--fs-700: 2.25rem;
	--fs-900: 3rem;

	/* Font weights */

	--fw-regular: 400;
	--fw-bold: 700;
	--fw-black: 900;
}

*::before,
*,
*::after {
	box-sizing: border-box;
}

/* Reset */

body {
	font-family: var(--ff-primary);
	font-size: var(--fs-500);
	font-weight: var(--fw-regular);
}

.hero-block {
	background-color: var(--clr-primary);

	.paragraph {
		margin-bottom: 3em;
	}
}

.wrapper-block {
	margin-inline: auto;
	width: min(1100px, 80%);
}

.content-block {
	&.-neutral {
		.heading {
			color: var(--clr-accent-600);
		}
	}

	&.-colored {
		background-color: var(--clr-secondary);

		color: var(--clr-neutral-500);
	}
}

.text-block {
	padding-block: 5em;
	width: 60%;

	color: var(--clr-neutral-500);

	>.heading {
		font-size: var(--fs-900);
		font-weight: var(--fw-black);
	}
}

.btn {
	display: inline-block;
	background-color: var(--clr-accent-500);
	border-radius: 2em;
	padding: .75em 2em;

	color: #000000;
	font-weight: var(--fw-bold);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.info-list {
	display: flex;
	gap: 1em;

	padding-block: 4em;

	text-align: center;
}

.heading {
	margin-bottom: .5em;

	font-size: var(--fs-700);
	font-weight: var(--fw-black);
}
