@import url("./fonts.css");
@import url("./reset.css");

:root {
	--clr-primary: #23424A;
	--clr-secondary: #136C72;

	--clr-accent-500: #38CFD9;
	--clr-accent-700: #87629A;

	--clr-neutral-500: #3A3A3A;
	--clr-neutral-700: #FFFFFF;

	--ff-primary: 'Roboto';
	--ff-heading: var(--ff-heading);
	--ff-body: var(--ff-heading);

	--fs-500: 1.325rem;
	--fs-700: 2.25rem;
	--fs-900: 3rem;

	--fw-regular: 400;
	--fw-bold: 700;
	--fw-black: 900;

	@media (prefers-color-scheme: dark) {
		--clr-primary: color-mix(in srgb, #23424A, black 10%);
		--clr-secondary: color-mix(in srgb, #136C72, black 15%);
		--clr-neutral-700: #FFFFFF;
		--clr-neutral-500: #FFFFFF;

		.content--heading {
			--clr-secondary: color-mix(in srgb, #136C72, white 30%);
		}
	}
}

body {
	font-family: var(--ff-primary);
	font-size: var(--fs-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1.5rem;
}

.btn {
	display: inline-block;

	border-radius: 2em;
	padding: .75em 2em;

	background-color: var(--clr-accent-500);
	color: #000000;
	transition: opacity 500ms ease;

	font-weight: var(--fw-bold);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:focus {
		opacity: .75;
	}
}

/* HEADER */

/* Hero section */

.hero {
	background-color: var(--clr-primary);

	>.hero--content {
		padding: 4em 0;
	}

	.hero--heading {
		font-size: var(--fs-900);
		font-weight: var(--fw-black);
	}

	.hero--text {
		color: var(--clr-neutral-700);

		width: 62%;
	}

	.hero--body {
		margin-bottom: 4rem;
	}

	.hero--image {
		align-self: flex-start;

		width: 32%;

		font-style: italic;
	}
}

/* Navbar */

.nav {
	padding: 1em 0;
	font-size: 1rem;

	>.nav--list {
		display: flex;
		gap: 2em;

		list-style: none;
	}

	.nav--item {
		margin: auto 0;
	}

	.nav--link {
		color: var(--clr-neutral-700);

		text-decoration: none;
		text-transform: uppercase;
	}

	.nav--btn {
		background-color: var(--clr-neutral-700);
		color: var(--clr-secondary);

		padding: .25em 1em;
	}

	.nav--link--hover {
		transition: color 500ms ease;

		&:hover,
		&:focus {
			color: color-mix(in srgb, var(--clr-neutral-700), var(--clr-accent-700));
		}
	}
}

/* MAIN */

.two-col {
	padding: 3rem 0;
}

.content {
	margin-top: 2rem;
	width: 62%;

	>.content--heading {
		color: var(--clr-accent-700);

		font-size: var(--fs-700);
		font-weight: var(--fw-black);
	}

	>.content--body {
		color: var(--clr-neutral-500);

		margin-bottom: 1em;
	}
}

.side-bar {
	background-color: var(--clr-secondary);

	padding: 2.5rem;
	width: 32%;
}

.side-bar--text {
	color: var(--clr-neutral-700);

	margin-bottom: 2.5em;

	text-align: center;

	>.side-bar--heading {
		font-size: var(--fs-700);
		font-weight: var(--fw-black);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.container {
	margin: auto;

	width: min(80%, 1100px);
}

.flex {
	display: flex;
	justify-content: space-between;
}
